.section {
  max-width: 600px;
}

.ingridients_tabs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}

.result__list {
  max-height: 716px;
  height: 1000%;
  margin-top: 40px;
  position: relative;
  scrollbar-gutter: stable;
  overflow-y: auto;
  overflow: overlay;
}

.result__list::-webkit-scrollbar {
  width: 8px;
  overflow: visible;
}

.result__list::-webkit-scrollbar-track {
  background: #2F2F37;
}

.result__list::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.ingridients_box {
  padding-left: 0;
  margin: 0;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 24px 32px;
}