.modal {
  width: 720px;
  margin: 0 auto;
  background: #000;
  border-radius: 40px;
  position: relative;
}

.close_button {
  display: flex;
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
}