.header {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #1C1C21;
  align-items: center;
}

.header__nav {
  display: block;
  box-sizing: border-box;
}

.list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.list__items {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.header__nav_links {
  margin-right: 112px;
}

.header__nav_user {
  margin-left: 288px;
}